@import "../utils/variable";

footer {
    background-color: $footer-color;
    color: #fff;
    h5 {
        padding: 35px 0px;
        font-family: $titles-font;
        font-size: 1.2em;
    }
}


.list {
    padding-bottom: 30px;
    &__element {
        display: flex;
        padding-bottom: 8px;

        i {
            display: flex;
            align-items: center;
            padding-right: 10px;
        }
    }
}