@import "../utils/variable";


header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $components-shadow;
    position: relative;
    z-index: 1;
    #logo {
        margin-top: 17px;
        margin-bottom: 10px;
        font-family: $titles-font;
    }
}
