@import "../utils/variable";


header {
    display: flex;
    justify-content: center;
    align-items: center;

    &--shadow {
        box-shadow: $components-shadow;
       
    }

    #logo {
        margin-top: 16px;
        margin-bottom: 8px;
        font-family: $titles-font;
    }
    h1 {
        font-size: 2em;
    }
}
