@import "../utils/variable";
@import "../utils/mixins";

.food {
    @include slow-appearing-animation ;

    &:nth-child(1) {
        animation-delay: $spinner-delay + 200ms;
    }

    &:nth-child(2) {
        animation-delay: $spinner-delay + 500ms;
    }

    &:nth-child(3) {
        animation-delay: $spinner-delay + 800ms;
    }

    @keyframes slow-appearing {
        0% {
            opacity: 0;
            transform:translateY(-20px)
    
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__categorie {
        margin-bottom: 5px;
    }

    .section-line {
        background-color: $tertiary-color;
        height: 3px;
        width: 40px;
        margin-bottom: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 40px;

        &__element {
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            box-shadow: $components-shadow;
            padding: 13px;

            &__text-zone {
                margin-right: 30px;

                h4 {
                    margin-bottom: 3px;
                    font-weight: bold;
                }
            }

            &__price-zone {
                display: flex;
                align-items:flex-end ;
                font-weight: bold;
            }
        }
    }
}

