* {
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-size: inherit;
}

input {
  all: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

body {
  min-width: 315px;
}

.sub-header {
  padding: 0 30px;
}

.fonctionnement, .restaurants, footer, .menu {
  padding: 0 25px;
}

@media screen and (min-width: 768px) {
  .width-container {
    max-width: 950px;
    margin: auto;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header--shadow {
  box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.719);
}
header #logo {
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: Shrikhand;
}
header h1 {
  font-size: 2em;
}

.gradient-btn {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 18px 23px;
  border-radius: 30px;
  color: white;
  margin-bottom: 55px;
  box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.719);
}
.gradient-btn--small {
  padding: 18px 50px;
  margin-bottom: 40px;
}
.gradient-btn:hover {
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0px 8px 15px rgba(150, 150, 150, 0.719);
}

main {
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  background-color: rgba(235, 235, 235, 0.87);
  position: relative;
  z-index: 0;
}
nav #location-pin {
  margin-right: 15px;
}
nav input {
  all: unset;
  width: 145px;
  font-weight: bold;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(247, 246, 246);
}
.sub-header .slogan {
  padding-top: 45px;
  font-size: 1.8em;
  font-weight: bold;
}
.sub-header .sub-slogan {
  padding-top: 15px;
  font-size: 20px;
  padding-bottom: 30px;
}

.fonctionnement {
  justify-content: center;
  align-items: center;
}
.fonctionnement__titre {
  font-size: 25px;
  padding-top: 45px;
  padding-bottom: 30px;
  font-weight: bold;
}
.fonctionnement__liste {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 55px;
  margin-left: 14px;
}
.fonctionnement__liste__element {
  display: flex;
  border-radius: 20px;
  list-style: decimal;
  list-style-position: inside;
  background-color: rgb(247, 246, 246);
  box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.719);
  align-items: center;
  position: relative;
}
.fonctionnement__liste__element--purple {
  background-color: #f5edff;
}
.fonctionnement__liste__element__numbers {
  position: absolute;
  left: -15px;
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
}
.fonctionnement__liste__element__icon {
  margin-left: 30px;
  color: #7E7E7E;
}
.fonctionnement__liste__element__icon--purple {
  color: #9356DC;
}
.fonctionnement__liste__element__text {
  margin: 25px 30px 25px 20px;
  font-weight: bold;
}

.restaurants {
  background-color: rgb(247, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 50px;
}
.restaurants__container .like-btn {
  position: absolute;
  bottom: 26px;
  right: 25px;
}
.restaurants__title {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.restaurants__bloc {
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.719);
  position: relative;
}
.restaurants__bloc__image-zone {
  position: relative;
}
.restaurants__bloc__image-zone__picture {
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: 50% 70%;
  border-radius: 15px 15px 0px 0px;
  display: block;
}
.restaurants__bloc__image-zone__new-tag {
  position: absolute;
  top: 15px;
  right: 12px;
  padding: 5px 10px;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #008766;
  font-size: 0.8em;
}
.restaurants__bloc__text-zone {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 0px 0px 15px 15px;
}
.restaurants__bloc__text-zone__text h4 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 5px;
}
.restaurants__bloc__text-zone__text p {
  font-size: 0.95em;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.719);
  }
  .fonctionnement__liste {
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement__liste__element {
    width: 30%;
  }
  .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px;
  }
  .restaurants__bloc {
    width: 47%;
  }
  footer h5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    display: flex;
    justify-content: space-between;
  }
}
footer {
  background-color: #353535;
  color: #fff;
}
footer h5 {
  padding: 35px 0px;
  font-family: Shrikhand;
  font-size: 1.2em;
}

.list {
  padding-bottom: 30px;
}
.list__element {
  display: flex;
  padding-bottom: 8px;
}
.list__element i {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.like-btn i {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.like-btn i:hover {
  animation: liked-btn 0.3s ease-in 0.1s normal forwards;
}
.like-btn i::before {
  content: "\f004";
  font-family: FontAwesome;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
}

@keyframes liked-btn {
  30% {
    scale: 0.8;
  }
  75% {
    scale: 1.2;
  }
  100% {
    color: transparent;
  }
}
.food {
  animation: slow-appearing 0.8s ease-out 1.5s normal both;
}
.food:nth-child(1) {
  animation-delay: 200ms;
}
.food:nth-child(2) {
  animation-delay: 500ms;
}
.food:nth-child(3) {
  animation-delay: 800ms;
}
@keyframes slow-appearing {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.food__categorie {
  display: flex;
  flex-direction: column;
}
.food__categorie::after {
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-bottom: 12px;
  margin-top: 5px;
}
.food__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.food__list__element {
  display: flex;
  width: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(179, 179, 179, 0.719);
  border-radius: 20px;
}
.food__list__element:hover .food__list__element__container {
  width: calc(100% - 70px);
}
.food__list__element:hover .food__list__element__confirm-btn {
  right: 0;
}
.food__list__element:hover .food__list__element__confirm-btn__icon {
  animation-name: icon-spinning;
  animation-duration: 0.5s;
}
.food__list__element__container {
  display: flex;
  background-color: #fff;
  width: 100%;
  padding: 13px;
  transition-duration: 0.5s;
}
.food__list__element__container__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.food__list__element__container__menu__text-zone {
  overflow: hidden;
}
.food__list__element__container__menu__text-zone h4 {
  margin-bottom: 3px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.food__list__element__container__menu__text-zone p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.food__list__element__container__menu__price-zone {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  margin-left: 13px;
}
.food__list__element__confirm-btn {
  background-color: #99E2D0;
  width: 70px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  right: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.food__list__element__confirm-btn__icon {
  color: #fff;
}
@keyframes icon-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .food__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .food__list__element {
    width: 32%;
  }
}
.back-arrow {
  position: absolute;
  left: 25px;
  color: rgb(65, 65, 65);
}

.restaurant-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: absolute;
  z-index: -3;
}

.menu {
  margin-top: 210px;
  background-color: rgb(247, 246, 246);
  border-radius: 40px 40px 0px 0px;
}
.menu .top-menu {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
}
.menu .top-menu h2 {
  font-size: 1.8em;
  font-family: Shrikhand;
}
.menu .top-menu .like-btn {
  display: flex;
  align-items: center;
}

.order {
  display: flex;
  justify-content: center;
}

.spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgb(247, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 0.1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.spinner__dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner__dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356DC transparent #9356DC transparent;
  animation: loading 1.5s linear;
}

@keyframes disappear {
  0% {
    display: block;
    opacity: 1;
    z-index: auto;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -2;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(800deg);
  }
}

/*# sourceMappingURL=style.css.map */
