@import "../utils/variable";
@import "../utils/mixins";

.gradient-btn {
    @include gradient;
    padding: 18px 23px;
    border-radius: 30px;
    color: white;
    margin-bottom: 55px;
    box-shadow: $components-shadow;

    &--small {
        padding: 18px 50px;
        margin-bottom: 40px;
    }
    
}