@import "../utils/variable";

.like-btn {
    

    i {
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        
        &:hover {
         animation: liked-btn $like-animation-duration ease-in 0.1s normal forwards;
                }

        &::before {
            content: "\f004";
            font-family: FontAwesome;
            @include gradient; 
            background-clip: text;
        }
        
        
    }
}

    @keyframes liked-btn {
        0% {
            
        }
    
        30% {
            scale: 0.8;
        }
    
        75% {
            
            scale: 1.2;
        }
    
        100% {
            
            color: transparent;
            
        }
    }
