@import "../utils/variable";

.explore-btn {
    background: linear-gradient($secondary-color,$primary-color);
    padding: 18px 23px;
    border-radius: 30px;
    color: white;
    margin-bottom: 55px;
    box-shadow: $components-shadow;
}