* {
    margin: 0;
    padding: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    box-sizing: border-box;
    font-family: $texts-font;
    text-decoration: none;
    color: inherit;
    list-style: none;
    font-size: inherit;
}

input {
    all: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

body {
    min-width: 315px;
}
//marges 

