main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    background-color:  rgba(235, 235, 235, 0.87);
    position: relative;
    z-index: 0;
    #location-pin {
        margin-right: 15px;
    }
    input {
        all: unset;
        width: 145px;
        font-weight: bold;
    }
}


.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: $secondary-background-color;
    .slogan {
        padding-top: 45px;
        font-size: 1.8em;
        font-weight: bold;
    }
    .sub-slogan {
        padding-top: 15px;
        font-size: 20px;
        padding-bottom: 30px;
    }
}

.fonctionnement {
    justify-content: center;
    align-items: center;
    &__titre {
        font-size: 25px;
        padding-top: 45px;
        padding-bottom: 30px;
        font-weight: bold;
    }
    &__liste {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 55px;
        margin-left: 14px;

        &__element {
            display: flex;
            border-radius: 20px;
            list-style: decimal;
            list-style-position: inside;
            background-color: $secondary-background-color;
            box-shadow: $components-shadow;
            align-items: center;
            position: relative;

            &__numbers {
                position: absolute;
                left: -15px;
                padding: 5px 10px;
                background-color: $primary-color;
                border-radius: 50%;
                color: #fff;
                
            }
            
            &__icon {
                margin-left: 30px;
                color: $primary-color;
            }   

            &__text {
                margin: 25px 30px 25px 20px
            }
            
        }
    }
}


.restaurants {
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-bottom: 50px;
            }

    &__title {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 1.5em;
        font-weight: bold;
    }
}
