@mixin gradient {
    background: linear-gradient($secondary-color,$primary-color);
}

@mixin slow-appearing-animation {
    animation: slow-appearing 0.8s ease-out $spinner-delay normal both;
}

@mixin max-width-container {
    max-width: $screen-container-max-width;
}


@mixin mobile-margin {
    padding : 0 25px;
} 