//components-colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$new-tag-text-color:#008766;
$neutral-state : #7E7E7E;


//fonts
$titles-font: Shrikhand;
$texts-font: Roboto;

//shadows 
$components-shadow :0px 5px 10px rgba(179, 179, 179, 0.719);

//Others


$spinner-delay : 1.5s;

//background-colors

$footer-color:#353535;
$secondary-background-color:rgb(247, 246, 246);
$primary-background-color:#fff;