@media screen and (min-width: $breakpoint-tab) {

//horizontal menu elements
   /* .full-menu {
    display: flex;
    justify-content: space-between;
    .food {
        width: 31%;
    }
} 
    */


//horizontal menu set-up

.food__list {
    flex-direction: row;
    justify-content: space-between;

    &__element {
        width: 32%;
    }
}

}
