@media screen and (min-width: 768px) {

//horizontal menu elements
   /* .food__list {
        flex-direction: row;
        justify-content: space-between;

        &__element {
            width: 32%;
        }
    }
    */


//horizontal menu set-up

.full-menu {
    display: flex;
    justify-content: space-between;
    .food {
        width: 31%;
    }
} 

}